<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment='header'>
    <!--FRAGMENT____________________-->

        <meta charset="UTF-8">

        <title>Proyecto</title>
        <!--CSS></-->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link th:href="@{/open-iconic/font/css/open-iconic-bootstrap.css}" href="../static/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <!--JS></-->
        <script th:src="@{/bootstrap/js/jquery-3.3.1.slim.min.js}" src="../static/bootstrap/js/jquery-3.3.1.slim.min.js" ></script>
        <script th:src="@{/bootstrap/js/popper.min.js}" src="../static/bootstrap/js/popper.min.js" ></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../static/bootstrap/js/bootstrap.min.js" ></script>
        <script th:src="@{/js/functions.js}" src="../static/js/functions.js" ></script>

</head>
<body>

<!--FRAGMENT____________________-->

    <nav class="navbar  navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Proyecto</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Link0 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" >Link2</a>
                </li>
            </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn  btn-primary   " style="color: white" type="submit">Search</button>
                </form>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span  class="oi oi-person" style="color: white "></span>
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/register}">Register</a>
                <a class="dropdown-item" th:href="@{/login}">Login</a>
            </div>
        </div>
    </nav>

    <!--FRAGMENT____________________-->

    <nav class="navbar  navbar-expand-lg navbar-dark bg-primary" th:fragment="navbarUser">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Proyecto</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Link0 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" >Link2</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn  btn-primary   " style="color: white" type="submit" >Search</button>
            </form>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span  class="oi oi-person" style="color: white "></span>
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">User</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>

</body>
</html>